*,
*::before,
*::after {
  box-sizing: border-box;
}

h1{
  color: whitesmoke;
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
  margin: 20px 0;
  background-image: url("Images/space.jpg") ;
  max-width: 100%;
  max-height: 100%;
  background-position: center ;
  background-size: cover;
}


#game{
  position: center;
  margin: 200px;
}
.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('Images/MusicLogo.png') no-repeat center center / contain;
  background-size: 100px 100px;
}

.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.matched .front {
  opacity: 0;
};

