*,
*::before,
*::after {
  box-sizing: border-box;
}

h1{
  color: whitesmoke;
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	 animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes h2{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}@keyframes slide-fwd-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}

body {
  font-family: 'Titan One', cursive;
  font-size: 30px;
  margin: 20px 0;
  background-image: url('Images/rave1.jpeg'), url("Images/space.jpg");
  max-width: 100%, 100%;
  max-height: 100%, 100%;
  background-position: bottom, center;
  background-size: contain, auto;
}

#game{
  position: center;
  margin: 100px;
}
.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('Images/MusicLogo.png') no-repeat center center / contain;
  background-size: 100px 100px;
}

.back {
  transform: rotateY(180deg);
  background-size: cover;
  /* background-position: center; */
}

.selected {
  transform: rotateY(180deg);
}

.matched .front {
  opacity: 0;
};

